<div class="displayFlex">
    <div id="boardCol" class="mainContainer">
      <app-board-title [title]="title" (deleteGameEvent)="deleteGameFromDb()"></app-board-title>
  
      <app-board-top [redScore]="currentGameIdPair.game.redScore" 
                     [blueScore]="currentGameIdPair.game.blueScore"
                     [currentPlayer]="currentGameIdPair.game.currentPlayer"
                     (endTurnEvent)="endTurn()">
      </app-board-top>
  
      <div id="board" class="boardContainerSequence">
        <div *ngFor="let card of currentGameIdPair.game.cardsForBoard">
          <mat-card [ngClass]="{cardContainer: !card.selected,
                                cardContainerSelectedRed: (card.selected) && card.color == 'red',
                                cardContainerSelectedBlue: (card.selected) && card.color == 'blue'}">
            <div>
              <div class="displayFlex">
                <span (click)="select(card)" [ngClass]="{redSuit: card.suit === Suit.DIAMOND || card.suit === Suit.HEART }">{{ card.displayValue }}</span>
                <div *ngIf="card.selected">
                  <button id="removeButton" (click)="removeWithOneEyedJack(card, currentGameIdPair.game.cardsForBoard.indexOf(card))">x</button>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
  
      <app-board-bottom [isCodenames]="isCodenames" (nextGameEvent)="nextGame()"></app-board-bottom>
    </div>
  
    <div id="sequenceCardsCol" class="playerHandContainer">
      <div class="playerHandTitle" [style.color]="selectedPlayer.teamColor">
        {{selectedPlayer.name}}'s hand
      </div>
      <div id="playerHand" class="playerHandGrid">
        <div *ngFor="let card of selectedPlayer.cardsInHand">
          <mat-card [ngClass]="{cardContainer: !card.selected,
                                cardContainerSelectedRed: card.selected && card.color == 'red',
                                cardContainerSelectedBlue: card.selected && card.color == 'blue'}">
            <div class="cardSequence">
              <div>
                <span [ngClass]="{redSuit: card.suit === Suit.DIAMOND || card.suit === Suit.HEART }">{{ card.displayValue }}</span>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
  
      <div id="discardPile" *ngIf="currentGameIdPair.game.topCardOnDiscardPile">
        <h3>DISCARD PILE:</h3>
        <mat-card class="cardContainer">
            <div class="cardSequence">
              <div>
                <span [ngClass]="{redSuit: topDiscardIsRedSuit()}">{{ currentGameIdPair.game.topCardOnDiscardPile?.displayValue }}</span>
              </div>
            </div>
          </mat-card>
      </div>
      <div *ngIf="currentGameIdPair.game.deck === undefined" id="reshuffleButton">
        <button mat-raised-button (click)="midGameShuffle()">Shuffle</button>
      </div>
    </div>
  </div>