.displayFlex{
  display: flex;
}
  
#removeButton{
  position:absolute; 
  top:2px; 
  right:2px;
  border-radius: 50%;
  background-color: transparent;
  border-color: black;
  color: black;
}

.mainContainer{
  margin: 0px 100px;
}

.boardContainerSequence{
  display:grid;
  grid-template-columns:repeat(10, 9.5%);
  grid-gap:10px;
  grid-auto-flow:row;
}

.playerHandTitle{
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin: 0 auto;
  width: 50%;
}

.playerHandGrid{
  display: grid;
  grid-template-columns:repeat(2, auto);
  grid-gap:10px;
  grid-auto-flow:row;
}

.playerHandContainer{
  margin: 50px 50px;
}

.cardContainer{
  text-align: center;
  font-size: 40px;
  border: 5px solid lightgray;
  padding: 5px;
}

.cardContainerSelectedRed{
  text-align: center;
  font-size: 40px;
  border: 5px solid red;
  padding: 5px;
  background-color: #ff8080;
}

.cardContainerSelectedBlue{
  text-align: center;
  font-size: 40px;
  border: 5px solid blue;
  padding: 5px;
  background-color: #8080ff;
}

.cardContainer:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.redText{
  color: red;
}

.blueText{
  color: blue;
}

button:hover{
  transform: scale(1.1);
}

.redSuit{
  color: red;
}

#discardPile{
  margin-top: 50px;
  margin-left: 25px;
  margin-right: 25px;
}
