<div>
    <div id="boardCol" class="mainContainer">
      <app-board-title [title]="title" (deleteGameEvent)="deleteGameFromDb()"></app-board-title>
  
      <app-board-top [redScore]="currentGameIdPair.game.redScore" 
                     [blueScore]="currentGameIdPair.game.blueScore"
                     [isRedTurn]="currentGameIdPair.game.isRedTurn"
                     [isBlueTurn]="currentGameIdPair.game.isBlueTurn"
                     (endTurnEvent)="endTurn()">
      </app-board-top>
  
      <div id="board" [ngClass]="{boardContainerWords: currentGameIdPair.game.mode.toString() === 'CODENAMES_WORDS',
                                  boardContainerPictures: currentGameIdPair.game.mode.toString() === 'CODENAMES_PICTURES'}">
        <div *ngFor="let card of currentGameIdPair.game.cardsForBoard">
          <mat-card [ngClass]="{cardContainer: !card.selected,
                                cardContainerSelectedRed: (card.selected || isSpyMaster) && card.color == 'red',
                                cardContainerSelectedBlue: (card.selected || isSpyMaster) && card.color == 'blue',
                                cardContainerSelectedBlack: (card.selected || isSpyMaster) && card.color == 'black',
                                cardContainerSelectedInnocent: (card.selected || isSpyMaster) && card.color == 'gray'}">
            <div *ngIf="currentGameIdPair.game.mode.toString() === 'CODENAMES_WORDS'" (click)="select(card)" style="margin: 25px">
              <div *ngIf="card.color == 'black' && card.selected; else regularWordDisplay">
                <div>
                  <p class="assassinDisplay">BANG!!!</p>
                  <p class="assassinDisplay" [style.color]="currentGameIdPair.game.isRedTurn ? 'cornflowerblue' : 'tomato'">{{currentGameIdPair.game.isRedTurn ? "Blue" : "Red"}} team wins</p>
                </div>
              </div>
  
              <ng-template #regularWordDisplay>
                <div>
                  {{ card.word }}
                </div>
              </ng-template>
            </div>
  
            <div *ngIf="currentGameIdPair.game.mode.toString() === 'CODENAMES_PICTURES'" (click)="select(card)" class="cardImg">
              <div *ngIf="card.color == 'black' && card.selected; else regularImgDisplay">
                <div class="assassinImgContents">
                  <p>BANG!!!</p>
                  <p [style.color]="currentGameIdPair.game.isRedTurn ? 'cornflowerblue' : 'tomato'">{{currentGameIdPair.game.isRedTurn ? "Blue" : "Red"}} team wins</p>
                </div>
              </div>
  
              <ng-template #regularImgDisplay>
                <div>
                  <img src="{{card.imgPath}}" width="200px" height="auto"/>
                </div>
              </ng-template>
            </div>
          </mat-card>
        </div>
      </div>
  
      <app-board-bottom [isCodenames]="isCodenames" (nextGameEvent)="nextGame()" (toggleSpyMasterEvent)="toggleSpyMaster()"></app-board-bottom>
  
      <div *ngIf="currentGameIdPair.game.mode.toString() === 'CODENAMES_PICTURES'">
        <p class="copyright"><strong>*** Images adapted from Czech Games Edition, <i>Codenames: Pictures</i>. 2016. ***</strong></p>
      </div>
  
    </div>
  </div>