<div class="container" class="container" style="margin: 0px 100px;">
  <div id="title" class="title">
    <p id="codeNamesTitle" class="codeNamesTitle" routerLink="/home" (click)="deleteGameFromDb()"><strong><a>CODENAMES</a></strong></p>
  </div>

  <mat-card id="boardTop" class="boardTop">
    <table class="matTable" mat-table>
      <tr mat-table-row>
        <td mat-cell class="score">
          <span style="color: red;">Red: {{currentGameIdPair.game.redScore}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blue;">Blue: {{currentGameIdPair.game.blueScore}}</span>
        </td>
        <td mat-cell class="turnIndicator">
          <span class="redTurn" *ngIf="currentGameIdPair.game.isRedTurn">Red's</span>
          <span class="blueTurn" *ngIf="currentGameIdPair.game.isBlueTurn">Blue's</span>
          <span [ngClass]="{redTurn: currentGameIdPair.game.isRedTurn, blueTurn: currentGameIdPair.game.isBlueTurn}"> turn</span>
        </td>
        <td mat-cell class="endTurnButton" (click)="endTurn()">
          <button mat-raised-button color="primary">End turn</button>
        </td>
      </tr>
    </table>
  </mat-card>

  <div id="board" [ngClass]="{boardContainer: currentGameIdPair.game.cards[0].word,
                              boardContainerFourByFive: currentGameIdPair.game.cards[0].imgPath}">
    <div *ngFor="let card of currentGameIdPair.game.cards">
      <mat-card [ngClass]="{cardContainer: !card.selected,
                            cardContainerSelectedRed: (card.selected || isSpyMaster) && card.color == 'red',
                            cardContainerSelectedBlue: (card.selected || isSpyMaster) && card.color == 'blue',
                            cardContainerSelectedBlack: (card.selected || isSpyMaster) && card.color == 'black',
                            cardContainerSelectedBeige: (card.selected || isSpyMaster) && card.color == 'beige'}"
                (click)="select(card)">
        <div *ngIf="card.word" style="margin: 25px">
          <div *ngIf="card.color == 'black' && card.selected; else regularWordDisplay">
            <div>
              <p class="assassinDisplay">BANG!!!</p>
              <p class="assassinDisplay" [style.color]="currentGameIdPair.game.isRedTurn ? 'cornflowerblue' : 'tomato'">{{currentGameIdPair.game.isRedTurn ? "Blue" : "Red"}} team wins</p>
            </div>
          </div>

          <ng-template #regularWordDisplay>
            <div>
              {{ card.word }}
            </div>
          </ng-template>
        </div>

        <div *ngIf="card.imgPath" class="cardImg">
          <div *ngIf="card.color == 'black' && card.selected; else regularImgDisplay">
            <div class="assassinImgContents">
              <p>BANG!!!</p>
              <p [style.color]="currentGameIdPair.game.isRedTurn ? 'cornflowerblue' : 'tomato'">{{currentGameIdPair.game.isRedTurn ? "Blue" : "Red"}} team wins</p>
            </div>
          </div>

          <ng-template #regularImgDisplay>
            <div>
              <img src="{{card.imgPath}}" width="200px" height="auto"/>
            </div>
          </ng-template>
        </div>
      </mat-card>
    </div>
  </div>

  <mat-card class="boardBottom">
      <mat-slide-toggle class="spyMasterToggle" color="primary" (click)="toggleSpyMaster()">SpyMaster</mat-slide-toggle>
      <button id="nextGameButton" class="nextGameButton" mat-raised-button color="primary" (click)="nextGame()">Next Game!</button>
  </mat-card>
  <div *ngIf=currentGameIdPair.game.cards[0].imgPath>
    <p class="copyright"><strong>*** Images adapted from Czech Games Edition, <i>Codenames: Pictures</i>. 2016. ***</strong></p>
  </div>
</div>
