<div [ngClass]="{displayFlex: isSequence}">
  <div id="boardCol" class="mainContainer">
    <div id="title" class="title">
      <p id="codeNamesTitle" class="codeNamesTitle" routerLink="/home" (click)="deleteGameFromDb()"><strong><a>{{title}}</a></strong></p>
    </div>

    <mat-card id="boardTop" class="boardTop">
      <table class="matTable" mat-table>
        <tr mat-table-row>
          <td mat-cell class="score">
            <span style="color: red;">Red: {{currentGameIdPair.game.redScore}}</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: blue;">Blue: {{currentGameIdPair.game.blueScore}}</span>
          </td>
          <td mat-cell class="turnIndicator">
            <span class="redTurn" *ngIf="currentGameIdPair.game.isRedTurn">Red's</span>
            <span class="blueTurn" *ngIf="currentGameIdPair.game.isBlueTurn">Blue's</span>
            <span [ngClass]="{redTurn: currentGameIdPair.game.isRedTurn, blueTurn: currentGameIdPair.game.isBlueTurn}"> turn</span>
          </td>
          <td mat-cell class="endTurnButton" (click)="endTurn()">
            <button mat-raised-button color="primary">End turn</button>
          </td>
        </tr>
      </table>
    </mat-card>

    <div id="board" [ngClass]="{boardContainerWords: currentGameIdPair.game.mode.toString() === 'CODENAMES_WORDS',
                                boardContainerPictures: currentGameIdPair.game.mode.toString() === 'CODENAMES_PICTURES',
                                boardContainerSequence: currentGameIdPair.game.mode.toString() === 'SEQUENCE'}">
      <div *ngFor="let card of currentGameIdPair.game.cardsForBoard">
        <mat-card [ngClass]="{cardContainer: !card.selected,
                              cardContainerSelectedRed: (card.selected || isSpyMaster) && card.color == 'red',
                              cardContainerSelectedBlue: (card.selected || isSpyMaster) && card.color == 'blue',
                              cardContainerSelectedBlack: (card.selected || isSpyMaster) && card.color == 'black',
                              cardContainerSelectedBeige: (card.selected || isSpyMaster) && card.color == 'beige'}"
                  (click)="select(card)">
          <div *ngIf="currentGameIdPair.game.mode.toString() === 'CODENAMES_WORDS'" style="margin: 25px">
            <div *ngIf="card.color == 'black' && card.selected; else regularWordDisplay">
              <div>
                <p class="assassinDisplay">BANG!!!</p>
                <p class="assassinDisplay" [style.color]="currentGameIdPair.game.isRedTurn ? 'cornflowerblue' : 'tomato'">{{currentGameIdPair.game.isRedTurn ? "Blue" : "Red"}} team wins</p>
              </div>
            </div>

            <ng-template #regularWordDisplay>
              <div>
                {{ card.word }}
              </div>
            </ng-template>
          </div>

          <div *ngIf="currentGameIdPair.game.mode.toString() === 'CODENAMES_PICTURES'" class="cardImg">
            <div *ngIf="card.color == 'black' && card.selected; else regularImgDisplay">
              <div class="assassinImgContents">
                <p>BANG!!!</p>
                <p [style.color]="currentGameIdPair.game.isRedTurn ? 'cornflowerblue' : 'tomato'">{{currentGameIdPair.game.isRedTurn ? "Blue" : "Red"}} team wins</p>
              </div>
            </div>

            <ng-template #regularImgDisplay>
              <div>
                <img src="{{card.imgPath}}" width="200px" height="auto"/>
              </div>
            </ng-template>
          </div>

          <div *ngIf="currentGameIdPair.game.mode.toString() === 'SEQUENCE'" class="cardSequence">
              <div>
                <span [ngClass]="{redSuit: card.suit === Suit.DIAMOND || card.suit === Suit.HEART }">{{ card.displayValue }}</span>
              </div>
          </div>
        </mat-card>
      </div>
    </div>

    <mat-card class="boardBottom">
        <mat-slide-toggle *ngIf="currentGameIdPair.game.mode.toString() !== 'SEQUENCE'" class="spyMasterToggle" color="primary" (click)="toggleSpyMaster()">SpyMaster</mat-slide-toggle>
        <button id="nextGameButton" class="nextGameButton" mat-raised-button color="primary" (click)="nextGame()">Next Game!</button>
    </mat-card>

    <div *ngIf="currentGameIdPair.game.mode.toString() === 'CODENAMES_PICTURES'">
      <p class="copyright"><strong>*** Images adapted from Czech Games Edition, <i>Codenames: Pictures</i>. 2016. ***</strong></p>
    </div>

  </div>

  <div *ngIf="isSequence" id="sequenceCardsCol">
    <div id="playerHand">
      <div>
        {{currentPlayer.name}}'s hand
      </div>
      <div *ngFor="let card of currentPlayer.cardsInHand">
        <mat-card [ngClass]="{cardContainer: !card.selected,
                              cardContainerSelectedRed: card.selected && card.color == 'red',
                              cardContainerSelectedBlue: card.selected && card.color == 'blue',
                              cardContainerSelectedBlack: card.selected && card.color == 'black'}">
          <div class="cardSequence">
            <div>
              <span [ngClass]="{redSuit: card.suit === Suit.DIAMOND || card.suit === Suit.HEART }">{{ card.displayValue }}</span>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div id="discardPile">
      {{ currentGameIdPair.game.topCardOnDiscardPile?.displayValue }}
    </div>
    {{ currentGameIdPair.game.deck?.length }}
    <div *ngIf="currentGameIdPair.game.deck.length === 0" id="reshuffleButton">
      SHUFFLE!!!
    </div>
  </div>

</div>