<div class="container" style="margin: 0px 100px;">
  <div id="title" class="title">
    <p class="codeNamesTitle"><strong id="codeNames">CODENAMES</strong></p>
  </div>

  <mat-card>
    <mat-card-title>
      Settings
    </mat-card-title>

    <mat-card-content>
      <form [formGroup]="settingsForm" (ngSubmit)="submit()">
        <mat-radio-group formControlName="gameMode">
          <label for="words-radio-btn">Words</label>
          <mat-radio-button color="primary" style="margin: 5px;" id="words-radio-btn" type="radio" [value]="GameMode.CODENAMES_WORDS"></mat-radio-button>

          <label for="pictures-radio-btn">Pictures</label>
          <mat-radio-button color="primary" style="margin: 5px;" id="pictures-radio-btn" type="radio" [value]="GameMode.CODENAMES_PICTURES"></mat-radio-button>

          <label for="sequence-radio-btn">Sequence</label>
          <mat-radio-button color="primary" style="margin: 5px;" id="sequence-radio-btn" type="radio" [value]="GameMode.SEQUENCE"></mat-radio-button>
        </mat-radio-group>

        <div style="margin: 5px;">
          <button mat-raised-button type="submit" color="primary">New Game!</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>


</div>
